@import './themes';

.panel {
    
    &-main-container, &-main-container-full {
        background-color: rgba(99, 20, 168, 0.1);
        height: 100vh;
        width: 100vw;
        position: relative;

        display: grid;
        grid-template-columns: 240px calc(100% - 240px);
        grid-template-rows: 65px calc(100% - 65px);
    }
    
    &-main-container-full {
        grid-template-columns: 0 auto;
    }

    &-header, &-left-nav {
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
        z-index: 1;
    }

    // &-main-content => _main-content.scss 
}

@each $name, $theme in $themes {
    @include create-header($name, $theme);
    @include create-left-nav($name, $theme);
    @include create-footer($name, $theme);
}

@media(max-width: 768px) {
    .panel {
        &-main-container {
            grid-template-columns: 0px auto;
        }
    }
}
