@import './themes';

.panel {
    &-main-container, &-main-container-full {
        display: grid;
        grid-template-columns: 200px auto;
        // grid-template-rows: 60px auto 50px;
        grid-template-rows: 60px auto;
        // height: 100vh;
        // min-height: 500px;
        // min-height: 100vh;
    }
    
    &-main-container-full {
        grid-template-columns: 0 auto;
    }

    &-header, &-left-nav {
        box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
        z-index: 1;
    }
    
}

@each $name, $theme in $themes {
    @include create-header($name, $theme);
    @include create-left-nav($name, $theme);
    @include create-footer($name, $theme);
}

@media(max-width: 768px) {
    .panel {
        &-main-container {
            grid-template-columns: 0px auto;
        }
    }
}
