<div class="card" *ngIf="data" routerLink="/users/{{data._id}}">
    <div class="card__img">
        <img src="{{data.avatar}}" alt="">
    </div>
    <div class="card__info">
        <h2>{{data.name}}</h2>
        <h4>Edad: {{data.age}}</h4>
        <p>
            <ng-container [ngSwitch]="data.gender">
                <span *ngSwitchCase="'F'">Femenino</span>
                <span *ngSwitchCase="'M'">Masculino</span>
                <span *ngSwitchDefault="''">No data</span>
            </ng-container>
        </p>
        <p>{{data.description}}</p>
        <p *ngIf="data.work">{{data.work}}</p>
    </div>
</div>
