<div>
    <div class="videoPlay-comments-header">

        <div class="videoPlay-comments-header-nav">
            <h2 class="videoPlay-comments-header-nav-amount">19 comentarios</h2>
            <div class="videoPlay-comments-header-nav-order">
                <!-- <i class="videoPlay-comments-header-order-icon"></i> -->
                <img 
                    src="../../../../../assets/icons/arrow-down-wide-short-solid.svg" 
                    alt="Ordenar"
                    class="videoPlay-comments-header-nav-order-icon"
                >
                <h2 class="videoPlay-comments-header-nav-order-type">ORDENAR POR</h2>
            </div>
        </div>

        <div class="videoPlay-comments-header-user">
            <div class="videoPlay-comments-header-user-clarification">
                <p>Comentar como</p>
            </div>
            <div class="videoPlay-comments-header-user-chanel">
                <img 
                    src="https://yt3.ggpht.com/ytc/AMLnZu_7QhYANtG97E9trnXxoloM-Us5q7w9F6A5yk_1ZsVI5542YdNm-EzI7a3Ah7O3=s48-c-k-c0x00ffffff-no-rj"
                    alt="Imagen del canal" 
                    class="videoPlay-comments-header-user-chanel-img"
                >
                <h1 class="videoPlay-comments-header-user-chanel-name">Canal x</h1>
            </div>

        </div>

        <div class="videoPlay-comments-header-comment">
            <!-- cols="30" -->
            <form action="" class="videoPlay-comments-header-comment-form">
                <div contenteditable class="videoPlay-comments-header-comment-form-fakeTextarea"></div>
                <!-- <textarea 
                    name="" id="" 
                    rows="auto"
                    placeholder="Agregar un comentario como Canal x..." 
                    class="videoPlay-comments-header-comment-form-input">
                </textarea> -->
            </form>
        </div>
    </div>
    
    <div class="videoPlay-comments-body">
        
        <!-- class="videoPlay-comments-body-posted-container" -->
        <ng-container>
            <div class="videoPlay-comments-body-container">

                <div class="videoPlay-comments-body-posted">

                    <div class="videoPlay-comments-body-posted-img">
                        <img 
                            src="https://yt3.ggpht.com/ytc/AMLnZu_7QhYANtG97E9trnXxoloM-Us5q7w9F6A5yk_1ZsVI5542YdNm-EzI7a3Ah7O3=s48-c-k-c0x00ffffff-no-rj" 
                            alt="Imagen del canal"
                        >
                    </div>

                    <div class="videoPlay-comments-body-posted-rows">
                        
                        
                        <div class="videoPlay-comments-body-posted-rows-publication">
                            <p class="videoPlay-comments-body-posted-rows-publication-chanel">Canal X</p>
                            <p class="videoPlay-comments-body-posted-rows-publication-date">hace 6 horas</p>
                        </div>

                        <div class="videoPlay-comments-body-posted-rows-comment">
                            <p>Compentario posteado</p>
                        </div>

                        <div class="videoPlay-comments-body-posted-rows-rating">
                            <div class="videoPlay-comments-body-posted-rows-rating-flex">
                                <fa-icon [icon]="faThumbsUp" class="videoPlay-comments-body-posted-rows-rating-flex-icon"></fa-icon>
                                <div class="videoPlay-comments-body-posted-rows-rating-flex-description">
                                    <p>10</p>
                                </div>
                            </div>
                            <div class="videoPlay-comments-body-posted-rows-rating-flex">
                                <fa-icon [icon]="faThumbsDown" class="videoPlay-comments-body-posted-rows-rating-flex-icon"></fa-icon>
                                <div class="videoPlay-comments-body-posted-rows-rating-flex-description">
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="videoPlay-comments-body-posted-rows-rating-flex">
                                <div class="videoPlay-comments-body-posted-rows-rating-flex-description">
                                    <h1>RESPONDER</h1>
                                </div>
                            </div>
                        </div>
                        

                    </div>
            
                </div>

                <div class="videoPlay-comments-body-showmore">
                    <fa-icon [icon]="faBars" class="videoPlay-comments-body-showmore-icon"></fa-icon>
                    <p>•</p>
                    <p>1 RESPUESTA</p>
                </div>

            </div>

        
        </ng-container>

    </div>
</div>
