<div class="login-container" [ngStyle]="data.STYLE_BACKGROUND">
    <div class="login-form">
        <!-- <img [src]="data.LOGO" alt="Logo" class="login-form-logo"> -->
        <h1 class="login-form-logoText">Video Tube</h1>
        <div class="login-form-content" app-login-form></div>

        <div class="login-form-footer">
            <div class="login-form-footer__links">
                <a href="#">Acerca de</a>
                <a href="#">Contactanos</a>
                <a href="#">Blog</a>
            </div>
            <div class="login-form-footer__socials">
                <!-- <i class="fab fa-facebook-square login-form-footer__socials_social"></i>
                <i class="fab fa-twitter-square login-form-footer__socials_social"></i>
                <i class="fab fa-instagram-square login-form-footer__socials_social"></i> -->
            </div>
        </div>

    </div>
</div>
