<div class="card-container" *ngIf="data">
    <div class="card-video">
            <!-- poster= "https://i.postimg.cc/7LkPbY0B/Ejercicio-1.jpg" -->
            <!-- poster= "{{data.sampleImage}}" -->
            <video
                app-video-preview
                
                src="{{data.videoURL}}"
                (mouseenter)="playVideo($event.target)"
                (mouseleave)="pauseVideo($event.target)"
                [muted]="true"
            ></video>
    </div>

    <div class="card-detail">
        <div class="card-detail-avatar">
            <div class="card-detail-avatar__img">
                <!-- src="https://cdn.shopify.com/shopifycloud/hatchful_web_two/bundles/aff2c7c41798a9e8d510293d676b1308.png" -->
                <img 
                    src="{{data.sampleImage}}"
                    alt={{data.title}}
                >
            </div>
        </div>
        <div class="card-detail-text">
            <div class="card-detail-text__title">
                {{data.title}}
            </div>
            <div class="card-detail-text__chanel">
                <div class="chanel">{{data.chanel}}</div>
                <i></i>
            </div>
            <div class="card-detail-text__statistics">
                <div class="detail">{{data.views}} M de vistas</div>
                <div class="dot">•</div>
                <div class="publicationDate">{{data.createdAt}}</div>
            </div>
        </div>
    </div>

</div>


