<div class="card-container" *ngIf="data" routerLink="/panel/videos/{{data._id}}">
    <div class="card-video">
            <video
                app-video-preview
                src="{{data.videoURL}}"
                (mouseenter)="playVideo($event.target)"
                (mouseleave)="pauseVideo($event.target)"
                [muted]="true"
            ></video>
    </div>

    <div class="card-detail">
        <div class="card-detail-text">
            <div class="card-detail-text__title">
                {{data.title}}
            </div>
            <div class="card-detail-text__chanel">
                <div class="chanel">{{data.chanel}}</div>
                <i></i>
            </div>
            <div class="card-detail-text__statistics">
                <div class="detail">{{data.views}} M de vistas</div>
                <div class="dot">•</div>
                <div class="publicationDate">{{data.createdAt}}</div>
            </div>
        </div>
    </div>

</div>



