@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


$font: 'Roboto', 'Arial', sans-serif;
$titleColor: #030303;
$textColor: #606060;

.card {
    &-container {
        width: 100%;
        height: 100%;
        // margin: 0 8px 0 8px;
        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        gap: 9px;

        font-family: $font;
    }
    
    &-container:hover {
        cursor: pointer;
    }

    &-video {
        // width: 100%;
        height: 94px;

        video {
            // width: 100%;
            height: 100%;
        }
    }

    &-detail {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        justify-content: flex-start;

        &-text {
            
            &__title {
                display: inline-block;
                
                font-family: $font;
                font-size: 0.875rem;
                font-weight: 500;
                color: #030303;
                text-overflow: ellipsis; // Cuando el texto se salga del contenedor, aplica puntos suspensivos
            }

            &__chanel {
                display: flex;
                flex-direction: row;

                .chanel {
                    display: inline-block;
                    color: $textColor;
                    font-size: 0.75rem;
                    font-family: $font;
                }
            }

            &__statistics {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .detail, .dot, .publicationDate {
                    display: inline-block; 
                    color: $textColor;
                    font-size: 0.75rem;
                    font-family: $font;
                }
            }
        }
    }
    
}