$bg-color: #DCDADA;
// #DCDADA

.card-loader {
    width: 100%;

    &__img, &__text {
        animation: load is infinite linear;
        background: $bg-color;
    }

    &__img {
        border-radius: 100%;
        width: 75px;
        height: 75px;
    }

    &__text {
        border-radius: 10px;
        height: 15px;
        margin: 7px 0;
    }
}

@keyframes load {
    0% {
        background: $bg-color;
    }

    50% {
        background: #e4e4e4;
    }
    
    100% {
        background: #DCDADA;
    }
}