<section class="panel-{{$theme}} {{showLeftNav ? 'panel-main-container' : 'panel-main-container-full'}}">
    <app-header class="panel-header" (showMenu)="showMenu()"></app-header>
    <app-left-nav class="panel-left-nav" *ngIf="showLeftNav" (showMenu)="showMenu()"></app-left-nav>
    <main class="panel-main-content">
        <!-- <app-complex-table></app-complex-table> -->
        <router-outlet></router-outlet>
    </main>
    <!-- <app-footer class="panel-footer"></app-footer> -->
</section>
