@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

$font: 'Roboto', 'Arial', sans-serif;
$titleColor: #030303;
$textColor: #606060;

.videoPlay {
    &-container {
        background-color: bisque;
        // width: 100vw;
        display: flex;
        justify-content: center;
        
        &-center {
            background-color: grey;
            // width: 100%;
            max-width: 1706px;    
            display: grid;
            grid-template-columns: auto 402px;
            grid-template-rows: auto auto;
        }
    }

    &-media {
        background-color: blue;
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 0 24px 0 0;
        display: flex;
        flex-direction: column;

        &-video {

            video {
                width: 100%;
            }
        }
    }

    &-comments {
        background-color: blueviolet;
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 0 24px 0 0;
    }

    &-suggested {
        // background-color: brown;
        width: calc(426px - 24px);
        grid-column: 2/3;
        grid-row: 1/3;
        padding: 0 24px 0 0;

        &-header {
            // background-color: cadetblue;
            border-bottom: solid 2px #00000066;
            margin: 15px 0 15px 0;

            h2 {
                margin-left: 15px;
            }
        }

        &-body {
            background-color: aquamarine;
            
            &-cards__videos {
                background-color: blueviolet;
                display: flex;
                flex-direction: column;
                gap: 9px;
            }
        }
    }
}