<div class="videoPlay-container">
    <div class="videoPlay-container-center" *ngIf="currentVideo">

        <!-- <p class="videoPlay-media-description-description">{{currentVideo.description}}</p> -->
        <div class="videoPlay-media">
            <div class="videoPlay-media-video">
                <video src="{{currentVideo.videoURL}}" class="videoPlay-media-video-reproduce" controls></video>
            </div>
    
            <div class="videoPlay-media-description">
                <h1 class="videoPlay-media-description-title">{{currentVideo.title}}</h1>
                
                <div class="videoPlay-media-description-optionsContainer">

                    <div class="videoPlay-media-description-rating">
                        <p class="videoPlay-media-description-rating-views">1000 vistas</p>
                        <p class="videoPlay-media-description-rating-separator">•</p>
                        <p class="videoPlay-media-description-rating-publicationDate">7 oct 2022</p>
                    </div>

                    <!-- Poner el condicional en like y dislike, en donde si tiene +0 likes, debe mostrar la cantidad y no el texto 'like' -->
                    <div class="videoPlay-media-description-links">
                        <!-- like -->
                         <!-- <i class="videoPlay-media-description-links-render-icon"></i> -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <!-- <div class="videoPlay-media-description-links-render-flex-iconContainer"> -->
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <!-- </div> -->
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>ME GUSTA</h1>
                                </div>
                            </div>
                        </div>
                        <!-- dislike -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>NO ME GUSTA</h1>
                                </div>
                            </div>
                        </div>
                        <!-- share -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>COMPARTIR</h1>
                                </div>
                            </div>
                        </div>
                        <!-- download -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>DESCARGAR</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Donar -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>GRACIAS</h1>
                                </div>
                            </div>
                        </div>
                        <!-- Recortar -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>RECORTAR</h1>
                                </div>
                            </div>
                        </div>
                        <!-- save -->
                        <div class="videoPlay-media-description-links-render">
                            <div class="videoPlay-media-description-links-render-flex">
                                <fa-icon [icon]="faBars" class="videoPlay-media-description-links-render-flex-icon"></fa-icon>
                                <div class="videoPlay-media-description-links-render-flex-description">
                                    <h1>GUARDAR</h1>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                
            </div>
    
        </div>
    
        <!-- About of chanel and anotations -->
        <div class="videoPlay-chanel">


            <div class="videoPlay-chanel-information">

                <div class="videoPlay-chanel-information-image">
                    <div class="videoPlay-chanel-information-image">
                        <img 
                            src="{{currentVideo.sampleImage}}" 
                            alt="{{currentVideo.chanel}}" 
                            class="videoPlay-chanel-information-image-file"
                        >
                    </div>
                </div>

                <div class="videoPlay-chanel-information-flex">
                    <p class="videoPlay-chanel-information-flex-name">{{currentVideo.chanel}}</p>
                    <p class="videoPlay-chanel-information-flex-numSubscribers">208000 suscriptores</p>
                </div>

                <div class="videoPlay-chanel-information-button">
                    <button>SUSCRIBIRSE</button>
                </div>

            </div>

            
            <div class="videoPlay-chanel-comments">
                <p class="videoPlay-chanel-comments-comment">Comentarios del canal respecto al video</p>
                <p class="videoPlay-chanel-comments-showMore">MOSTRAR MAS</p>
            </div>


        </div>
        
        <div class="videoPlay-comments">
            <div class="videoPlay-comments-header">
                <h2 class="videoPlay-comments-header-amount">19 comentarios</h2>
                <div class="videoPlay-comments-header-order">
                    <i class="videoPlay-comments-header-order-icon"></i>
                    <h2 class="videoPlay-comments-header-order-type">ORDENAR POR</h2>
                </div>
            </div>
            
            <div class="videoPlay-comments-body">
                <div class="videoPlay-comments-input">
                    <div class="videoPlay-comments-input">
                        <img src="" alt="" class="videoPlay-comments-input-img">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Agregar un comentario..." class="videoPlay-comments-input-comment"></textarea>
                    </div>
                    <div class="videoPlay-comments-posted">
                        <ng-container class="videoPlay-comments-posted-container">
                            <img src="https://yt3.ggpht.com/ytc/AMLnZu_7QhYANtG97E9trnXxoloM-Us5q7w9F6A5yk_1ZsVI5542YdNm-EzI7a3Ah7O3=s48-c-k-c0x00ffffff-no-rj" alt="Imagen del canal" class="videoPlay-comments-posted-img">
                            <p class="videoPlay-comments-posted-chanel">Canal X</p>
                            <p class="videoPlay-comments-posted-date">hace 6 horas</p>
                            <p class="videoPlay-comments-posted-comment">Compentario posteado</p>
                            <div class="videoPlay-comments-posted-reply">
                                <i class="videoPlay-comments-posted-reply-like">Icono like</i>
                                <i class="videoPlay-comments-posted-reply-dislike">Icono dislike</i>
                                <button class="videoPlay-comments-posted-reply-response">RESPONDER</button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    
    
        <div class="videoPlay-suggested">
            <div class="videoPlay-suggested-header">
                <h2 class="videoPlay-suggested-header-options">Videos sugeridos</h2>
            </div>
            <div class="videoPlay-suggested-body">
                <!-- <ng-container class="videoPlay-suggested-body-cards" *ngIf="suggestedVideo"> -->
                <ng-container *ngIf="suggestedVideo">
                    <div class="videoPlay-suggested-body-cards__videos">
                        <app-card-video-row
                            [data]="video" 
                            *ngFor="let video of suggestedVideo"
                        ></app-card-video-row>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>

</div>
