<div class="videoPlay-container">
    

    <div class="videoPlay-media">
        <div class="videoPlay-media-video">
            <video src="pediente" class="videoPlay-media-video-reproduce"></video>
        </div>

        <div class="videoPlay-media-description">
            <h1 class="videoPlay-media-description-title"></h1>
            <p class="videoPlay-media-description-description"></p>
            <div class="videoPlay-media-description-chanel">
                <img src="" alt="" class="videoPlay-media-description-chanel-img">
                <p class="videoPlay-media-description-chanel-name"></p>
            </div>
        </div>

        <div class="videoPlay-media-links">Likes y demas</div>
    </div>


    <div class="videoPlay-comments">
        <div class="videoPlay-comments-header">
            <h2 class="videoPlay-comments-header-amount"></h2>
            <div class="videoPlay-comments-header-order">
                <i class="videoPlay-comments-header-order-icon"></i>
                <h2 class="videoPlay-comments-header-order-type">ORDENAR POR</h2>
            </div>
        </div>
        <div class="videoPlay-comments-body">
            <div class="videoPlay-comments-input">
                <div class="videoPlay-comments-input">
                    <img src="" alt="" class="videoPlay-comments-input-img">
                    <textarea name="" id="" cols="30" rows="10" class="videoPlay-comments-input-comment"></textarea>
                </div>
                <div class="videoPlay-comments-posted">
                    <ng-container class="videoPlay-comments-posted-container">
                        <img src="" alt="" class="videoPlay-comments-posted-img">
                        <p class="videoPlay-comments-posted-chanel"></p>
                        <p class="videoPlay-comments-posted-date"></p>
                        <p class="videoPlay-comments-posted-comment"></p>
                        <div class="videoPlay-comments-posted-reply"><i class="videoPlay-comments-posted-reply-like"></i><i class="videoPlay-comments-posted-reply-dislike"></i><button class="videoPlay-comments-posted-reply-response"></button></div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>


    <div class="videoPlay-suggested">
        <div class="videoPlay-suggested-header">
            <h2 class="videoPlay-suggested-header-options">Videos sugeridos</h2>
        </div>
        <div class="videoPlay-suggested-body">
            <ng-container class="videoPlay-suggested-cards">
                <div>Agregar cards de videos sugeridos</div>
            </ng-container>
        </div>
    </div>
</div>
